body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#vowelInput {
    width: 33%;
    padding: 3px;
    border: 1px solid black;
    border-radius: 4px;
}

#vowelInput:focus {
    outline: none;
    border: 2px solid black;
}

#countButton {
    margin: 5px;
    border: 1px solid black;
    border-radius: 4px;
}